.hero {
    margin-top: 20px;
    padding-bottom: 110px;
}

.event-date {
    width: fit-content;
    height: 41px;
    background: linear-gradient(90deg, #4b3d9b 0%, #ed3a8d 118.38%);
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 14px;
    letter-spacing: 0.095em;
    font-weight: 400;
}

.c-square {
    width: 145px;
    height: 145px;
    background: linear-gradient(155.93deg, #7f6aff 11.97%, #1f1a3c 170.08%);
    border-radius: 8px;
    font-size: 48px;
    font-weight: 600;
    padding-top: 20px;
}

.small-text {
    color: #ff75b5;
    font-size: 18px;
    font-weight: 400;
    margin-top: -10px;
}

.btn-submit-paper {
    background-color: #7764f0 !important;
    color: #fff !important;
}

.sponsor-section {
    background: linear-gradient(155.93deg, #7f6aff 11.97%, #1f1a3c 170.08%);
}

.sponsor-logo img {
    max-height: 90px;
    margin: 0 15px;
}

.card-speaker {
    background-color: transparent !important;
    border: none !important;
}

.call-for-papers .card-papers {
    margin-top: 25%;
}
.call-for-papers h1 {
    margin-left: 110px;
}

.call-papers p {
    padding-right: 110px;
    padding-left: 110px;
}

.card-for-papers {
    margin-top: 100px;
}

.for-author {
    margin-top: 50px;
}

.login {
    position: relative;
    background: linear-gradient(
        56deg,
        rgba(46, 35, 108, 1) 0%,
        rgba(82, 20, 118, 1) 50%,
        rgba(46, 35, 108, 1) 100%
    );
    background-blend-mode: screen;
    z-index: 1;
    height: 100vh;
    overflow: hidden;
}

.login::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../../images/bigwave.svg") no-repeat left center;
    background-size: contain;
    transform: rotate(90deg);
    z-index: -1;
    margin-left: -540px;
}

.login-left {
    flex: 1;
}

.login-left-img {
    margin-top: 45%;
}

.login-right {
    flex: 1;
    background: linear-gradient(
        133deg,
        rgba(40, 29, 100, 1) 0%,
        rgba(71, 53, 171, 1) 50%,
        rgba(40, 29, 100, 1) 100%
    );
    border-radius: 20px 0px 0px 20px;
    height: 100vh;
}

.form-login {
    margin-top: 170px;
    padding: 0 10em;
}

.w-full {
    width: 100%;
}

.title-conference {
    color: #2e236c;
}

.btn-main {
    background-color: #2e236c !important;
    color: #fff !important;
    border-radius: 20px !important;
}

.card-fee {
    background: linear-gradient(
        0deg,
        rgba(67, 61, 139, 1) 50%,
        rgba(18, 16, 37, 1) 100%
    );
    border-radius: 8px;
    padding: 20px;
}

.call-for-papers {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(42, 30, 112, 1) 100%
    );
    color: white;
}

.for-author {
    background: linear-gradient(
        0deg,
        rgba(42, 30, 112, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}

.registration {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(42, 30, 112, 1) 100%
    );
}

.map-responsive {
    position: relative;
    overflow: hidden;
    padding-top: 70%; /* 70% of the width for height */
}
.map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

footer {
    background-color: #140c40;
    color: white;
    padding: 50px;
    margin-top: 100px;
}

trix-toolbar [data-trix-button-group="file-tools"] {
    display: none !important;
}

.social-media i {
    font-size: 2.5em;
}

.supported {
    background-color: white;
    margin-top: 50px;
    color: black;
}

.supported h4 {
    margin-top: -30px;
}

.supported img {
    max-height: 100px;
    margin: 0 15px;
}

.sponsor-logo img {
    max-height: 90px;
    margin: 0 15px;
}

#sidebar {
    position: fixed; /* Membuat sidebar fixed */
    top: 0;
    left: 0;
    height: 100vh; /* Mengatur tinggi sidebar agar mencakup seluruh tinggi viewport */
    width: 280px; /* Lebar sidebar tetap */
    background-color: #f8f9fa; /* Warna background sidebar */
    overflow-y: auto;
}

.sidebar-m {
    margin-left: 280px;
}
@media (max-width: 768px) {
    #sidebar {
        transform: translateX(-100%);
        position: absolute;
    }
    #sidebar.show {
        transform: translateX(0);
    }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (max-width: 600px) {
    .event-date {
        width: fit-content;
        height: 41px;
        background: linear-gradient(90deg, #4b3d9b 0%, #ed3a8d 118.38%);
        border-radius: 8px;
        padding: 6px 24px;
        font-size: 12px;
        letter-spacing: 0.095em;
        font-weight: 400;
    }
    .c-square {
        width: 70px;
        height: 70px;
        background: linear-gradient(155.93deg, #7f6aff 11.97%, #1f1a3c 170.08%);
        border-radius: 8px;
        font-size: 30px;
        font-weight: 600;
        padding-top: 10px;
    }

    .small-text {
        color: #ff75b5;
        font-size: 10px;
        font-weight: 400;
        margin-top: -10px;
    }

    .sponsor-logo img {
        max-height: 30px;
        margin: 0 15px;
    }

    h5.sponsor {
        font-size: 15px;
        padding-bottom: 10px;
    }

    .call-papers {
        flex-direction: column;
    }

    .login-right {
        background: #281d64;
        border-radius: 0px;
        height: 100vh;
    }

    .login-left {
        display: none;
    }

    .form-login {
        margin-top: 170px;
        padding: 0 10em;
    }

    .form-login {
        margin-top: 170px;
        padding: 0 2em;
    }

    .sidebar-m {
        margin-left: 0px;
    }

    .call-for-papers h1 {
        margin-left: 0px;
        text-align: center;
    }

    .call-papers p {
        padding-right: 12px;
        padding-left: 12px;
    }
}
